body {
    font-family: Arial, sans-serif;color: #060606;
    margin: 5px;
    padding: 0px;
    background-color: #aeb2a8;
    text-align:left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Poppins', sans-serif;
}


.contact-container{
    height: 150vh;
    display: flex;
    justify-content: space-evenly;
    

}
.contact-container{
    height: 150vh;
    display: flex;
    justify-content: space-evenly;
    

}
.contact-left{
display: flex;
flex-direction: column;
align-items: start;
gap: 20px;
}
.contact-left-title h2{

font-weight: 600;
color:rgb(255, 0, 30);
font-size:40px;
margin-bottom: 5px;
}
.contact-left-title hr{

border: none;
width: 120px;
height: 5px;
background-color: #060606;
border-radius: 10px;
margin-bottom: 20px;

}
.contact-inputs{

width: 400px;
height: 50px;
border: none;
outline: none;
padding-left: 25px;
font-weight:500;
color:rgb(61, 65, 65);
border-radius: 50px;

}
.contact-left textarea{

height: 140px;
padding-top:15px ;
border-radius: 20px;
}
.contact-inputs:focus{

border: 2px solid #f41004;

}
.contact-inputs::placeholder{

color: rgb(61, 65, 65);


}
.contact-left button{

display: flex;
align-items: center;
padding: 15px 30px;
font-size: 16px ;
color:rgb(61, 65, 65);
gap: 10px;
border: none;
border-radius: 50px;
background: linear-gradient(270deg,#ff994f,#fa6d86);
cursor: pointer;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #ffccc1;
    font-family: 'poppins', sans-serif;
       
   }
   .burger{
       display: none;
       cursor: pointer;
   }
   .burger div{
       width:25px;
       height:3px;
       background-color: #fff;
       margin: 5px;
   
   }
   .nav-links{
       display: flex;
       justify-content: space-around;
       
   }
   .nav-links a{
       color: #000;
       text-decoration: none;
       font-weight: bold;
       font-size: 14px;
   }
   nav ul li{
       list-style: none;
       display: inline-block;
       margin: 20px;
       font-weight: 500;
       cursor: pointer;
   
   }
   .logo{
       
       text-transform: uppercase;
       letter-spacing: 5px;
       font-size: 20px;
       
   }
   @media screen and (max-width: 10024px){
       .nav-links{
           width:60%;
   
       }
   }
   
   nav ul li a{
       text-decoration: none;
       color: black;
   }
   nav .logo{
       width: 220px;
       cursor: pointer;
   }
   .nav-btn{
       background: #000;
       color: #fff;
       font-size: 16px;
       padding: 15px 25px;
       border: 0;
       border-radius: 40px;
       cursor: pointer;
   }
   .header{
       width: 100%;
       min-height: 100vh;
       background: linear-gradient(#eefff9 0%, #ffccc1 49%, #dcdbff 100%);
       padding: 0 10%;
       display: flex;
       justify-content: center;
       flex-direction: column;
   }
   .header h1{
       margin-top: 100px;
       font-size: 8vw;
       line-height: 11vw;
   }
   
   
   .home-img{
       width: 80%;
       max-width: 500px;
       position: absolute;
       right: 2%;
       bottom: 0;
       border-radius: 10px;
   }
   /*-- animation --*/
   .header h1 span{
       background: linear-gradient(#000, #000);
       background-repeat: no-repeat;
       -webkit-text-fill-color: black;
       background-size: 0%;
   }
   .header h1 span:first-child{
        animation: textcolor 2s linear infinite alternate;
   
   }
   .header h1 span:last-child{
       animation: textcolor 2s linear infinite alternate;
   
   }
   @keyframes navLinkFade{
    from{
     opacity: 0;
     transform: translateY(50%);
    }
    to{
     opacity: 1;
     transform: translateY(0px);
    }
    

}



.menu-icon{
 display:none;
}
/*--- media and responsive ---*/
@media only screen and (max-width:600px){
body{
 
 overflow-x: hidden;
}
.nav-links a{
 color: #000;
}

 .nav-links{
     position:absolute;
     right:0;
     height: 60vh;
     top:17vh;
     border-radius: 10px;
     
     background-color:  #f4e8e5;
     display: flex;
     flex-direction: column;
     align-items: center;
   
     color: #000;
     
     transform: translateX(100%);
    
 }
 .nav-links li{
     opacity: 1;

 }
 .burger{
     display: block;
 }
 .nav-active{
     transform: translateX(0%);
     transform: translateX(0%);
 }
header.container{
    display: flex;
    justify-content: space-between;

}
header.container.logo{
    padding: 15px 0;
    height:75px;
}
header.container.logo img{
    height:100%;

}

nav ul li a:hover{
    color:#f41004;
    transition: .3s;
}

.contact-container{
         height: 150vh;
         display: flex;
         justify-content: space-evenly;
         

}
.contact-container{
         height: 150vh;
         display: flex;
         justify-content: space-evenly;
         

}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2{

font-weight: 600;
color:rgb(255, 0, 30);
font-size:40px;
margin-bottom: 5px;
}
.contact-left-title hr{

    border: none;
    width: 120px;
    height: 5px;
    background-color: #060606;
    border-radius: 10px;
    margin-bottom: 20px;

}
.contact-inputs{

    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight:500;
    color:rgb(61, 65, 65);
    border-radius: 50px;

}
.contact-left textarea{

    height: 140px;
    padding-top:15px ;
    border-radius: 20px;
}
.contact-inputs:focus{

    border: 2px solid #f41004;

}
.contact-inputs::placeholder{

    color: rgb(61, 65, 65);


}
.contact-left button{

    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px ;
    color:rgb(61, 65, 65);
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#ff994f,#fa6d86);
    cursor: pointer;
}
@media (max-width:800px) {

            .contact-inputs{
                width: 80vw;
            }
    
}

footer{

    background-color: #000000;
    color:#fff;
    padding:10px;
     margin: 0;
    bottom: 16;
    width: 90%;
   border-radius: 10px;
}

.social-icon{
    color:rgb(90, 90, 212);

}
.social-icon1{
    color: purple;

}
.social-icon2{
    color: white;

}
.social-icon3{
    color:white;

}

h1{
    font-style: italic;
    font-weight: bold;
}


p{
    font-weight: bold;

}
}
