body {
    font-family: Arial, sans-serif;color: #060606;
    margin: 10;
    padding: 150;
    background-color:  #e9bfd0;
    text-align:left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Poppins', sans-serif;
}
header {
    background-color: #000000;
    color: #f41004;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
}
secton{
    padding:20px;
}

footer{
background-color: #000000;
;
    color:#fff;
    padding:10px;
    bottom: 0;
    width: 100%;
}
nav ul {
list-style: none;
padding: 0;

}

nav li {
display: inline;
margin-right: 30px;
}


nav ul li a{
    font-weight:bold;
    color: white;
    text-decoration: none;

}
nav ul li a:hover{
  color:#f41004;
  transition: .3s;
}

section {
padding: 20px;
}
@media screen and (max-width: 600px)

{

    h1{
        font-size: 36px;
         line-height:50px;
    }
}

.container{
    width: 80%;
    margin:50px auto; 
}

.contact-box{
         background:#fff;
         display:flex;
         width: 105%;
         
         
         

}
.contact-left{
    flex-basis: 600%;
    padding:40px 60px;
    
}

.contact-right{
    flex-basis: 60%;
    padding:40px 60px;
    background: #1c00b5;
    color:#fff;
}
.input-row{
      display:flex;
      justify-content: space-between;
      margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea{
    width: 100%;
    position: bottom; 
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label{
    margin-bottom: 6px;
    display: block;
    color:#1c00b5; 
}

button{
    background:#1c00b5;
    width:100px;
    border:none;
    outline:none;
    color:#fff;   
    height: 35px;
    border-radius: 30px;
    margin-top:20px;
    box-shadow: 0px 5px rgba(28, 0, 181, 0.3);
}
.contact-left h3{
    color:#fff;
    font-weight: 600;
    margin-bottom: 30px;
    
}
.contact-left h3{
    color:#1220e9;
    font-weight: 600;
    margin-bottom: 30px;
    
}

.clock{
 border: 1px solid;
        color: #000000,
        padding: 1px;
        border-radius: 10px;
        border-right: #d90847;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        background-color: #e9bfd0;
        text-align: center;
        align-items: center;
        position:relative;
        font-size: 15px;
        
    
}

#Date{

    font-size: -4em !important;
    text-align: left;
    border-right: #d90847;
    align-items: normal;
}

.clock ul{
    list-style: none;
    display: flex;
    font-size: -4em;
    gap: 15px;
    text-align: center;
    align-items: center;
    
    

}
